
	@media(max-width: 700px) {
		.form-left {
			display: none;
		}
		.form-right {
			
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
			position: absolute;
			width: 100%;
			margin: 0;
		}
		.container {
			display: none;
			margin: 0;
		}

	} 


body {
background-image: linear-gradient( 136deg, rgb(0,158,253) 0%, rgb(42,245,152) 100%);
}

* {
	box-sizing: border-box;
}
 
 #form {
 	position: relative;
 }
.container {
	height: 600px;
	width: 70%;
	display: flex;
	flex-direction: row;
	margin: 80px auto;
	justify-content: space-around;
	position: relative;
}

.form-left {
	height: 100%;
	width: 70%;	
	background-color: gray;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-image: url("city.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

.form-right {
	height: 100%;
	width: 100%;
	background-color: #3d5983;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
}

.form-btn {
	background: transparent;
	border: none;
	border-bottom: solid #ccc 3px;
	opacity: 10;
	font-size: 20px;
	color: #fff;
	font-weight: 600;
	font-size: 28px;
	padding-bottom: 22px;
	padding-top: 22px;
	width: 100%;
	margin-bottom: 40px;
	outline: none;
}
.form-btn:hover {
	border-bottom-color: #30e1df;
	cursor: pointer;
}
.form-btnactive {
	border-bottom-color: #30e1df;

}
.form-header {
	display: flex;
	justify-content: space-evenly;
}

.form-entry {
	background: transparent;
	border: none;
	border-bottom: solid #ccc 2px;
	width: 80%;
	margin: 15px auto;
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	outline-style: none;
}

.form-entry:focus {
	border-bottom-color: #30e1df;
}

.label {
	color: #fff;
	position: relative;
	left: 20px;
	margin: 20px;
}

.register-btn {
	position: absolute;
	right: 15px;
	bottom: -190px;
	width: 140px;
	height: 50px;
	border: none;
	font-weight: 700;
	font-size: 18px;
	border-radius: 10px;
	color: rgb(0,158,253);
	background-color: rgba(0,0,0,0.4);
}
.register-btn:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
}
#username-div,
#email-div,
#password-div,
#confirm-password-div {
	margin-bottom: 10px;
	position: relative;
}
#password,
#username,
#email,
#confirm-password {
	position: relative;
}

#username-error,
#password-error {
	color: red;
	display: inline;
	margin:0;
	padding:0;
	position: absolute;
	right: 20px;
	bottom: 30px;
}

#email-error {
	color: red;
	display: inline;
	margin:0;
	padding:0;
	position: absolute;
	right: 20px;
	bottom: 30px;
}

#confirm-password-error {
	color: red;
	display: inline;
	margin:0;
	padding:0;
	position: absolute;
	right: 20px;
	bottom: 30px;
}

.userError,
.passwordError,
.emailError {
	border-bottom: solid red 2px;
}

.signin {
	display: none;
};




